.error-pagina{
    margin-top: 4rem ;
    font-size: 28rem;
}
.span-error{
    font-size: 40rem;
    margin: 0;
    padding: 0;
    line-height: .3;
    display: block;
    text-align: center;
}
.error-pagina-texto{
    text-align: center;
}